name: CI-Polaris-Basic
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:
   
jobs:
  build:
    runs-on: [ubuntu-latest]
    steps:
    - name: Checkout Source
      uses: actions/checkout@v4
    - name: Set up JDK 23
      uses: actions/setup-java@v4
      with:
        java-version: '23'
        distribution: 'temurin'
        cache: maven
    - name: Prepare Maven
      run: mvn spotless:apply && mvn -N wrapper:wrapper && chmod +x ./mvnw
    - name: Polaris Scan
      uses: blackduck-inc/black-duck-security-scan@v2
      with:
        # Define the server URL, provides access token, and determines scan types
        polaris_server_url: ${{ vars.POLARIS_SERVER_URL }}
        polaris_access_token: ${{ secrets.POLARIS_ACCESS_TOKEN }}
        polaris_assessment_types: "SCA,SAST"
        
        # Define the application and project name.
        polaris_application_name: ${{ vars.POLARIS_APPLICATION_NAME }}
        polaris_project_name: ${{ vars.POLARIS_PROJECT_NAME }}

        # Provides the build and clean command for build capture, then selects SCA scan types
        coverity_build_command: "./mvnw clean install -DskipTests"
        coverity_clean_command: "./mvnw clean"
        polaris_test_sca_type:	"SCA-PACKAGE,SCA-SIGNATURE"
